<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>AccessKeys</title>
</head>
<body >
    <h1 style="color: rgb(7, 156, 182);">Logged In ... Your keys are here .... Be safe OR get hacked .... 🤷‍♂️✨ </h1>
       
      
    <h2 style="color: rgb(88, 18, 90);">Get your Keys :  </h2>
    <h3 style="color: rgb(74, 112, 13);"> aws_access_key_id : <h3 style="color: rgb(184, 12, 169);">{{key1}}</h23></h3>
    <h3 style="color: rgb(74, 112, 13);"> aws_secret_access_key : <h3 style="color: rgb(202, 14, 177);">{{key2}}</h3></h3>
    <h3 style="color: rgb(74, 112, 13);"> aws_session_token :<h3 style="color: rgb(197, 24, 197);">{{key3}}</h3></h3>
    <h3 style="color: rgb(20, 13, 112);"><a href="/loggedin"> Go Back</a></h3>

    <h3><a href="https://testingitforsaqeebbhai.auth.ap-south-1.amazoncognito.com/logout?client_id=46s231qatgv9243u2kt361patd&logout_uri=https://hackcognito.herokuapp.com/loggedout">Log Out</a></h3>

</body>
</html>
