
<!DOCTYPE html>

<html>
<head>
	<title>Files</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      h1,h2,h3 {
        text-align: center;
        color: rgb(51, 255, 0);
        
      } 
      body {
          background-color: rgb(20, 20, 20);
         
          
          background-repeat: no-repeat;
          
      }
  </style>
</head>
<body>
<h1 style="color: rgb(59, 221, 250);">Logged In ... Your files are here .... Be safe or get hacked .... 🤷‍♂️✨ </h1>
   
<h2 style="color: rgb(230, 255, 5);"> Files from your bucket : </h2>
<ol>
<!-- For loop logic of jinja template -->
{%for i in files%}

  <!--https://www.geeksforgeeks.org/python-using-for-loop-in-flask/-->

	<h3 style="color: rgb(30, 255, 9);"><li>{{i}}</li></h3>
{%endfor%}

</ol>

<h3 style="color: rgb(60, 237, 250);"><a href="/loggedin"> Go Back</a></h3>

<h3 style="color: rgb(47, 230, 243);"><a href="https://testingitforsaqeebbhai.auth.ap-south-1.amazoncognito.com/logout?client_id=46s231qatgv9243u2kt361patd&logout_uri=https://hackcognito.herokuapp.com/loggedout">Log Out</a></h3>
   

</body>
</html>











<!-- {% for item in files %}
    <p>{{ item}}</p>
{% endfor %} -->

    
