<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
    <title>Logged Out</title>
</head>
<body>
    <h1>✌✌✌Logged Out ... Great .. You have escaped from here . Meet you next time ✌✌✌</h1>
    <h1> <a href="https://testingitforsaqeebbhai.auth.ap-south-1.amazoncognito.com/login?client_id=46s231qatgv9243u2kt361patd&response_type=token&scope=email+openid&redirect_uri=https://hackcognito.herokuapp.com/loggedin">Log Back In </a></h1>
</body>
</html>