<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>LoggedIn</title>
    <style>
        h1,h2,h3 {
          text-align: center;
          color: rgb(51, 255, 0);
          
        } 
        body {
            background-color: rgb(20, 20, 20);
           
            
            background-repeat: no-repeat;
            
        }
    </style>
</head>
<body >
    
    <h1>Get your Temporary Access keys : --->> <a href="/accesskey">keys</a></h1>
    
    <h1>Get your Files : --->>> <a href="/files">Files</a></h1>

    <h1>Upload your Files : --->>> <a href="/upload">Go ahead</a></h1>

<script>
    
    function getToken() {
    var idtoken = window.location.href;
    var idtoken1 = idtoken.split("=")[1];
    var identityToken = idtoken1.split("&")[0];
    const dict_send ={ id_token : identityToken};
    console.log(dict_send);
    $.ajax({
        url:"/id",
        type:"POST",
        ContentType: "application/json; charset=utf-8",
        dataType: "json" ,
        data:JSON.stringify(dict_send)});
    };

    getToken();
    
    
    
</script>
</body>
</html>
