<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h3 style="color: rgb(255, 153, 0);">{{msg}}</h3>

   <h2 style="color: blue;"> <a href="/upload">Upload More</a></h2>

   <h3 style="color: rgb(20, 13, 112);"><a href="/loggedin"> Go Back</a></h3>
   <h3><a href="https://testingitforsaqeebbhai.auth.ap-south-1.amazoncognito.com/logout?client_id=46s231qatgv9243u2kt361patd&logout_uri=http://localhost:5000/loggedout">Log Out</a></h3>
   
</body>
</html>