<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1,h2,h3 {
          text-align: center;
          color: rgb(51, 255, 0);
          
        } 
        

        form{
            text-align: center;
        }
    </style>
</head>
<body>
    <form action="/uploading" method="post" enctype="multipart/form-data">
        <h2 style="color: rgb(255, 0, 0);" ><p class="card-text">Choose a file to upload it to AWS S3</p></h2>
           <input type="file" name="file" value="file">
           <hr>
      <input type="submit" name="upload" value="Upload" class="btn btn-success">
   </form>

   <h3 style="color: rgb(93, 82, 253);"><a href="/loggedin"> Go Back</a></h3>
   
   <h3  style="color: rgb(93, 82, 253);" ><a href="https://testingitforsaqeebbhai.auth.ap-south-1.amazoncognito.com/logout?client_id=46s231qatgv9243u2kt361patd&logout_uri=https://hackcognito.herokuapp.com/loggedout">Log Out</a></h3>
   
   
</body>
</html>